name: Actualizar Inventario

on:
  push:
    branches: ["main"]
  schedule:
    - cron: "0 16 * * *"   # 10:00 AM CDMX (UTC-6)
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node 20
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Fix Rollup native binding bug (CI workaround) and build
        run: |
          rm -rf node_modules package-lock.json
          npm install
          npm i @rollup/rollup-linux-x64-gnu || true
          npm run build

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install pandas requests openpyxl

      - name: Run script
        env:
          WEBHOOK_URL: ${{ secrets.WEBHOOK_URL }}
        run: python script.py
